@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geist: Geist, sans-serif;
}

@layer utilities {
  html {
    @apply bg-slate-100;
    @apply tracking-wider;
    @apply text-gray-900;
    @apply font-geist;
  }
}

@layer base {
  thead,
  th,
  tr,
  td {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border: 1px solid #d1d5db;
    text-align: center;
  }

  thead {
    background-color: #e5e7eb;
  }
}
